Flask==2.2.5
langchain==1.2.8
neo4j==5.28.2
openai==2.16.0
opencv-python-headless==4.10.0.84
Pillow==12.1.0
python-dotenv==1.1.1
pretrainedmodels==0.7.4
pymilvus==2.6.4
sentence_transformers==5.1.2
torch==2.4.0
torchvision==0.19.0
Werkzeug==3.1.5
